@model IEnumerable<Application_Management_System.Models.AgentRepresentative>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Agent Representatives";
}

<h1>Agent Representatives</h1>
<hr />
<div>
    @Html.ActionLink("Add New","Create")
</div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Representative Name</th>
        <th>Contact Number</th>
        <th>Email Address</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem=>item.AgentRepresentativeID)</td>
            <td>@Html.DisplayFor(modelItem=>item.FullName)</td>
            <td>@Html.DisplayFor(modelItem=>item.ContactNumber)</td>
            <td>@Html.DisplayFor(modelItem=>item.EmailAddress)</td>

            <td>@Html.ActionLink("Details","Details",new { Id=item.AgentRepresentativeID})|
                @Html.ActionLink("Edit","Edit",new { Id=item.AgentRepresentativeID})
            </td>
        </tr>
    }
</table>
