@model Application_Management_System.ViewModels.ApplicantIndexData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Applicant ID
        </th>
        <th>
            Secondary ID
        </th>
        <th>
            Full Name
        </th>
        <th>
            Date of Birth
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Applicants)
    {
        string strSelectedRow = "";

        if (item.ApplicantID == ViewBag.ApplicantID)
        {
            strSelectedRow = "success";
        }

        <tr class="@strSelectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.ApplicantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { Id = item.ApplicantID }) |
                @Html.ActionLink("Apply", "Create", "Application", new { Id=item.ApplicantID},null)
            </td>
        </tr>
    }

</table>

@if (Model.Applications != null)
{
    <h2>Applications for selected applicant</h2>
    <hr />
    <table class="table">
        <tr>
            
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Application Received Date</th>
            <th>Proposed Start Date</th>
            <th>Proposed End Date</th>
        </tr>
        @foreach (var item in Model.Applications)
        {
            <tr>
                          
                <td>@Html.DisplayFor(modelItem=>item.Course.VetNationalCode)</td>
           
                <td>@Html.DisplayFor(modelItem=>item.Course.CourseName)</td>

                <td>@Html.DisplayFor(modelItem=>item.ApplicationFormReceivedDate)</td>
           
                <td>@Html.DisplayFor(modelItem=>item.ProposedStartDate)</td>
          
                <td>@Html.DisplayFor(modelItem=>item.ProposedEndDate)</td>
            </tr>
        }

    </table>
}
