@model Application_Management_System.Models.Application

@{
    ViewBag.Title = "New Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>New Application</h2>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!--Qualification details section-->
        <fieldset>
            <legend>Qualification Details</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.ApplicantID, "ApplicantID", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @*@Html.DropDownList("ApplicantID", null, htmlAttributes: new { @class = "form-control",@disabled="disabled" })
                @Html.ValidationMessageFor(model => model.ApplicantID, "", new { @class = "text-danger" })*@
                    @Html.EditorFor(model => model.ApplicantID, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProposedStartDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProposedStartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProposedStartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProposedEndDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProposedEndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProposedEndDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LooIssuedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LooIssuedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LooIssuedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LooExpiryDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LooExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LooExpiryDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AirportPickup, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.AirportPickup)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Accomodation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Accomodation)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Oshc, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Oshc)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AgentID, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("AgentID", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApplicationStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(model => model.ApplicationStatus, htmlAttributes: new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MarketingComment, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.MarketingComment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MarketingComment, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <!--Financial details section-->
        <fieldset>
            <legend>Financial Details</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.DepositReceived, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.DepositReceived)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepositReceivedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DepositReceivedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DepositReceivedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TuitionFeeReceived, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.TuitionFeeReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TuitionFeeReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaterialFeeReceived, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.MaterialFeeReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaterialFeeReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApplicationFeeReceived, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ApplicationFeeReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApplicationFeeReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OshcFeeReceived, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OshcFeeReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OshcFeeReceived, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OutstandingAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OutstandingAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OutstandingAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FinanceComments, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FinanceComments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FinanceComments, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>

        <!--Document checklist details-->

        <fieldset>
            <legend>Application Documents</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.ApplicationForm, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.ApplicationForm)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ApplicationFormReceivedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ApplicationFormReceivedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApplicationFormReceivedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PreTrainingReview, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.PreTrainingReview)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PtrCompletedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PtrCompletedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PtrCompletedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AcceptanceOfOffer, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.AcceptanceOfOffer)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AcceptanceOfOfferDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AcceptanceOfOfferDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AcceptanceOfOfferDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AcademicTranscripts, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.AcademicTranscripts)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Passport, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.Passport)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IeltsOrEquivalent, htmlAttributes: new { @class = "control-label col-md-4"})
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.IeltsOrEquivalent)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OshcCurrency, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.OshcCurrency)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FinancialViability, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.FinancialViability)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CourseOutline, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.CourseOutline)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.GteReviewed, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.GteReviewed)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdministrationComment, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdministrationComment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdministrationComment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PreEnrolmentInformation, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.PreEnrolmentInformation)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EnrolledInSms, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.EnrolledInSms)
                    </div>
                </div>
            </div>
        </fieldset>

        <!--Coe Details-->
        <fieldset>
            <legend>Coe Details</legend>

            <div class="form-group">
                @Html.LabelFor(model => model.eCoeIssued, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.eCoeIssued)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.eCoeIssuedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.eCoeIssuedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.eCoeIssuedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepositMatchingLoo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.DepositMatchingLoo)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DatesMatchingLoo, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.DatesMatchingLoo)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CoeStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(model => model.CoeStatus, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CoeStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.eCoeLastUpdated, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.eCoeLastUpdated, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.eCoeLastUpdated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RefundRequired, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.RefundRequired)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RefundAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.RefundAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RefundAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateRefundProcessed, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateRefundProcessed, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateRefundProcessed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CoeComment, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CoeComment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CoeComment, "", new { @class = "text-danger" })
                </div>
            </div>
        </fieldset>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
