@model IEnumerable<Application_Management_System.Models.Application>

@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model=>model.ApplicationID)</th>
        <th>@Html.DisplayNameFor(model=>model.Applicant.FullName)</th>
        <th>@Html.DisplayNameFor(model=>model.Course.CodeCourseName)</th>
        <th>@Html.DisplayNameFor(model=>model.ProposedStartDate)</th>
        <th>@Html.DisplayNameFor(model=>model.ApplicationFormReceivedDate)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem=>item.ApplicationID)</td>
        <td>@Html.DisplayFor(modelItem=>item.Applicant.FullName)</td>
        <td>@Html.DisplayFor(modelItem=>item.Course.CodeCourseName)</td>
        <td>@Html.DisplayFor(modelItem=>item.ProposedStartDate)</td>
        <td>@Html.DisplayFor(modelItem=>item.ApplicationFormReceivedDate)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })
        </td>
    </tr>
}

</table>
